Repository marcogrcr/contentful-graphql-types: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: initial version
  README.md
  src/contentful/content-type-of.ts
  src/contentful/entry.ts
  src/contentful/fields-of.ts
  src/contentful/index.ts
  src/contentful/sys-of.ts
  src/gql/gql-asset.ts
  src/gql/gql-collection.ts
  src/gql/gql-entry/gql-all-fields.ts
  src/gql/gql-entry/gql-default-field-name.ts
  src/gql/gql-entry/gql-entry-options.ts
  src/gql/gql-entry/gql-entry.ts
  src/gql/gql-entry/gql-field-map-keys.ts
  src/gql/gql-entry/gql-field-map.ts
  src/gql/gql-entry/gql-field-name.ts
  src/gql/gql-entry/gql-field-type.ts
  src/gql/gql-entry/gql-fields.ts
  src/gql/gql-entry/gql-sys-fields.ts
  src/gql/gql-entry/gql-type-name-field.ts
  src/gql/gql-entry/index.ts
  src/gql/gql-metadata.ts
  src/gql/gql-rich-text.ts
  src/gql/gql-sys.ts
  src/gql/index.ts
  src/index.ts
  src/util/convert-mapped-keys.ts
  src/util/deep-partial.ts
  src/util/default.ts
  src/util/if-empty-map.ts
  src/util/if-optional.ts
  src/util/if.ts
  src/util/index.ts
  test/index.test.ts
Due: prettier --write, eslint --fix

chore: add contact info
  package.json
Due: prettier --write

chore: bump version to 1.0.0
  package-lock.json
  package.json
Due: prettier --write

chore: bump version to 1.0.1-dev
  package-lock.json
  package.json
Due: prettier --write

docs: add changelog
  CHANGELOG.md
Due: prettier --write

fix: incorrect mapping of asset fields
  src/contentful/asset.ts
  src/contentful/index.ts
  src/gql/gql-entry/gql-default-field-name.ts
  src/gql/gql-entry/gql-entry-options.ts
  src/gql/gql-entry/gql-field-type.ts
  test/index.test.ts
Due: eslint --fix

chore: bump version to 1.0.2-dev
  package-lock.json
  package.json
Due: prettier --write

chore: bump version to 1.0.1
  package-lock.json
  package.json
Due: prettier --write

fix: broken tests
  test/index.test.ts
Due: eslint --fix

feat: make nested reference fields optional
  README.md
  src/gql/gql-entry/gql-field-type.ts
  test/index.test.ts
Due: prettier --write, eslint --fix

chore: bump version to 1.0.2
  package-lock.json
  package.json
Due: prettier --write

chore: bump version to 1.0.3-dev
  package-lock.json
  package.json
Due: prettier --write

feat: make nested asset fields optional
  src/gql/gql-entry/gql-field-type.ts
  test/index.test.ts
Due: eslint --fix

chore: bump version to 1.0.3
  package-lock.json
  package.json
Due: prettier --write

docs: update changelog
  CHANGELOG.md
Due: prettier --write

chore: bump version to 1.0.4-dev
  package-lock.json
  package.json
Due: prettier --write

test: improve test robustness
  test/index.test.ts
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{css,graphql,html,json,less,md,scss,yaml,yml}
  eslint --fix: any of: *.{cjs,cjsx,cts,ctsx,js,jsx,mjs,mjsx,mts,mtsx,ts,tsx}
